<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- Add your file extensions here -->
		<add key="IgnoredExtensions" value=".dll,.exe,.config,.pdb,.png,.jpg,.bmp,.pdn,.resource,.cache,.props,.targets" />
		<add key="IgnoredFolders" value=".vs,Debug,Release" />
		<add key="DefaultLanguage" value="en-US" />
	</appSettings>
</configuration>